In [1]:
# print the lements of the list using the for loop

list1 = [1,4,9,16,25,36, 59, 64, 81, 100]

for val in list1:
    print(val)

1
4
9
16
25
36
59
64
81
100

In [2]:
#This is LINEAR SEARCH


# search for a number x in this tuple using for loop
list1 = [1,4,9,16,25,36, 59, 64, 81, 100]
number_to_search = int(input("Please enter the number to be searched"))

idx = 0
for val in list1:
    if (val == number_to_search):
        print("Entered number is found in the tuple ", val ,"at index", idx)
        break
    idx +=1
else:
    print("Entered number is not found in the tuple", number_to_search, "at index", idx)

Entered number is not found in the tuple 3 at index 10

In [5]:
# using for and range()

# print numbers for 1 to 10

for val in range(1,11):
    print(val)

1
2
3
4
5
6
7
8
9
10

In [7]:
# print numbers from 10 to 1

for val in range(10,0, -1):
    print(val)

10
9
8
7
6
5
4
3
2
1

In [ ]:
# print multiplication table of number n

table = int(input("Enter the number for which you want to write table"))

for i in range(1, 11):
    print(table ," * ", i , " = ", table * i)
else:
    print("Out of For loop. I is ", i)

3  *  0  =  0
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
3  *  10  =  30
Out of For loop. I is  10

In [9]:
# WAP to find sum of first n numbers using for loop

number = int(input("enter number"))

sum = 0

for i in range(0,number+1):
    sum = i + sum
else:
    print(sum)

15

In [20]:
# WAP to find factorial of first n numbers
# n! = 1 * 2 * 3 * ...... * n 



number = int(input("enter number to find factorial"))

fact = 1
for i in range(1,number+1):
    print(i)
    
    fact = fact * i

print(fact)

1
2
3
4
5
120